<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>USPInstaller</string>
    <key>CFBundleDisplayName</key>
    <string>USPInstaller</string>
    <key>CFBundleIdentifier</key>
    <string>com.usp.USPInstaller</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>utdt</string>
    <key>CFBundleExecutable</key>
    <string>USPInstaller</string>
    <key>CFBundleIconFile</key>
    <string>USPInstaller.icns</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true />
  </dict>
</plist>